<!-- <h4 class="text-center text-muted">Register On Pictures!</h4> -->
<div class="container">
    <form #form="ngForm" [formGroup]="registerForm" class="form mt-4" (submit)="register()">
        <div class="form-group">
            <input #inputEmail formControlName="email" type="text" class="form-control" placeholder="email" autofocus>
                <div class="text-center">
                <app-message 
                    message="Email is Required!" 
                    *ngIf="registerForm.get('email').errors?.required && form.submitted">
                </app-message>
                <app-message 
                    message="Email is Invalid!" 
                    *ngIf="registerForm.get('email').errors?.email">
                </app-message>
            </div>
        </div>

        <div class="form-group">
            <input formControlName="fullName" type="text" class="form-control" placeholder="full name">
            <div class="text-center">
                <app-message 
                    message="Full Name is Required!" 
                    *ngIf="registerForm.get('fullName').errors?.required && form.submitted">
                </app-message>
                <app-message 
                    message="Must have 2 characters at least!" 
                    *ngIf="registerForm.get('fullName').errors?.minlength">
                </app-message>
                <app-message 
                    message="Must have 40 characters at maximum!" 
                    *ngIf="registerForm.get('fullName').errors?.maxlength">
                </app-message>
            </div>
        </div>

        <div class="form-group">
            <input formControlName="userName" type="text" class="form-control" placeholder="user name">
            <div class="text-center">
                <app-message 
                    message="User Name is Required!" 
                    *ngIf="registerForm.get('userName').errors?.required && form.submitted">
                </app-message>
                <app-message 
                    message="Must be lowercase!" 
                    *ngIf="registerForm.get('userName').errors?.lowerCase">
                </app-message>
                <app-message 
                    message="Must have 2 characters at least!" 
                    *ngIf="registerForm.get('userName').errors?.minlength">
                </app-message>
                <app-message 
                    message="Must have 30 characters at maximum!" 
                    *ngIf="registerForm.get('userName').errors?.maxlength">
                </app-message>
                <app-message 
                    message="User Name already in use!" 
                    *ngIf="registerForm.get('userName').errors?.userNameTaken">
                </app-message>
                <small *ngIf="registerForm.get('userName').valid" class="text-success">User Available!</small>
            </div>
        </div>

        <div class="form-group">
            <input formControlName="password" type="password" class="form-control" placeholder="password">
            <div class="text-center">
                <app-message 
                    message="Password is Required!" 
                    *ngIf="registerForm.get('password').errors?.required && form.submitted">
                </app-message>
                <app-message 
                    message="Must have 8 characters at least!" 
                    *ngIf="registerForm.get('password').errors?.minlength">
                </app-message>
                <app-message 
                    message="Must have 14 characters at maximum!" 
                    *ngIf="registerForm.get('password').errors?.maxlength">
                </app-message>

                <app-message
                    class="d-block" 
                    message="Password cannot match Username" 
                    *ngIf="registerForm.errors?.UserNamePasswordMatcher">
                </app-message>
            </div>
        </div>
        
        <button class="button">Register</button>

        <hr>
        <p class="footer-text">Already User? <a [routerLink]="['']">Login!</a></p>
    </form>
</div>