<header class="fixed-top">
    <nav class="navbar navbar-light bg-primary text-white">
        <a class="navbar-brand text-white">
            <i 
                tabindex="0"
                (click)="menu.toggleMenu()" 
                class="fa fa-bars mr-2"
                (keyup.space)="menu.toggleMenu()">
            </i>
            Pictures
        </a>

        <app-menu #menu>
            <ul class="list-unstyled">
                <li>
                    <a showIfLogged [routerLink]="['photo', 'add']">Upload Photo</a>                    
                </li>
                <li>Item 2</li>
            </ul>
        </app-menu>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle"></i>
            <a class="ml-2 mr-1">{{ user.name }}</a>
            <a (click)="logout()">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <a class="text-white" [routerLink]="['']">Please, Login!</a>
            </span>
        </ng-template>
    </nav>

    <div class="fixed-top">
        <app-loading></app-loading>
        <app-alert></app-alert>
    </div>
</header>